<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">CHOOSE REPORT TYPE:</h1>
</div>
<div style="text-align: center">
    <div class="container">
        <div class="card-deck mb-4 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">1st Statistics</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Avg, min and max</li>
                        <li>compensation</li>
                        <li>per year</li>
                    </ul>
                    <form method="post" action="{{ url_for('analytics_app.index', type='first_analytics')}}">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Choose</button>
                    </form>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">2nd Statistics</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Avg</li>
                        <li>compensation per year and department</li>
                        <li></li>
                    </ul>
                    <form method="post" action="{{ url_for('analytics_app.index', type='second_analytics')}}">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Choose</button>
                    </form>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">3rd Statistics</h4>
                </div>

                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Avg</li>
                        <li>compensation per year</li>
                        <li>department and job title</li>
                    </ul>
                    <form method="post" action="{{ url_for('analytics_app.index', type='third_analytics')}}">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Choose</button>
                    </form>

                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">4th Statistics</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Avg, min and max</li>
                        <li>compensation Forecast</li>
                        <li> per department</li>
                    </ul>
                    <form method="post" action="{{ url_for('analytics_app.index', type='fourth_analytics')}}">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Choose</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>